<!DOCTYPE>
<html>
<body>
  <header>
    <h1>Recipes</h1>
  </header>

  <!-- <h3>Add a pet here:</h3>
  <input type="text" id="newPetName" placeholder="pet name">
  <input type="text" id="newPetType" placeholder="animal type">
  <button id = "addNewPet">ADD IT!</button> -->
</body>
</html>
